.filter {
    padding: 60px 0;
    @media screen and (min-width: 1200px) {
        padding: 94px 0;    
    }
    
}

/*.filter__title {
}*/

.filter__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

/*.filter__item {
}*/