.footer-subscribe {
    margin-left: 93px;
}

.footer-subscribe__title {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    margin-bottom: 20px;
    text-transform: uppercase;
}