.footer {
    background: var(--dark-bg-color);
    padding: 60px 0;
    border-bottom: 1px;
}

.footer__wrap {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        gap: 165px;
        align-items: baseline;
    }
    @media screen and (min-width: 1200px) {
        gap: 70px;
    }
}