.header {
    border-bottom: 1px solid #ececec;
    
    &-menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__menu-burger {
                position: absolute;
                right: 0;
                border: none;
                background: transparent;
                padding: 0;
                // width: 40px;
                // height: 40px;
                @media screen and (min-width: 768px) {
                    display: none;
                }
            }
    }

    &-navigation {
        display: flex;
        justify-content: flex-start;
        gap: 93px;
        align-items: center;
    }
}

 