.header-contact__list {
    margin-left: auto;
    display: flex;
    gap: 50px;
    align-items: center;
}

/* .header-contact__item {
} */

.header-contact__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding: 32px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: var(--primary-accent-color);
    }
}

.contact-icon {
    fill: currentColor;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .header-contact__link:hover &,
    .header-contact__link:focus & {
        fill: var(--primary-accent-color);
    }
}