.header-contact__list {
    display: none;
    @media screen and (min-width: 768px) {
        margin-left: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start
    }
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 50px;
    }
}

/* .header-contact__item {
} */

.header-contact__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 1200px) {
        padding: 32px 0;
    }
    
    &:hover,
    &:focus {
        color: var(--primary-accent-color);
    }
}

.contact-icon {
    fill: currentColor;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .header-contact__link:hover &,
    .header-contact__link:focus & {
        fill: var(--primary-accent-color);
    }
}