.hero {
    background: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-size: cover;
    padding  : 118px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    max-width: 767px;
    @media screen and (min-width: 768px) {
        max-width: 1199px;
    }
    @media screen and (min-width: 1200px) {
        padding: 200px 0;
        height: 600px;
        max-width: 1600px;
    }
}

.hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    max-width: 360px;
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: calc(60 / 44);        
        max-width: 696px;
    }
}