/* reset basic styles*/

html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.list {
    list-style: none;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}